body {
    background: url("./img/desktop-background.png") fixed;
    background-size: 100%;
}

a {
    text-decoration: none;
}

/******************** EFEITOS GLASS ********************/

.glassMorph{
    background-color: rgba(255, 255, 255, 0.3);  
    backdrop-filter: blur(3px);
    padding: 20px;
    margin: 15px;
}

.darkerGlassMorph{
    background-color: rgba(216, 216, 216, 0.4);  
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 15px;
}

/******************** NAVBAR ********************/
header {
    
}

nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

#navLinksContainer {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/******************** MAIN ********************/
main {
    padding-top: 200px;
}
/*************** Sobre ***************/
#aboutContainer {
    display: flex;
    justify-content: space-between;
}

.aboutItem {
    width: 30vw;
}

/*************** Portfolio ***************/

#portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolioItem {
    width: 40vw;
}

.innerPortfolioPicture {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35vw;
    height: 40vh;
}

.hiddenPortfolioLinks {
    display: none;
}

#rihannaTributePicture {
    background-image: url("/img/rihanna1.png");
}

#animeflixPicture {
    background-image: url("/img/animeflix.png");
}

#formularioPicture {
    background-image: url("/img/formulario1.png");
}

#huddlePicture {
    background-image: url("/img/huddle.png");
}

/*************** Contato ***************/
#socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************** CONFIGURAÇÕES TELAS PEQUENAS ********************/