a {
    text-decoration: none;
}

/******************** NAVBAR ********************/
nav {
    display: flex;
    justify-content: space-between;
}

#navLinksContainer {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/******************** MAIN ********************/
/*************** Sobre ***************/
#aboutContainer {
    display: flex;
    justify-content: space-between;
}

.aboutItem {
    width: 30vw;
}

/*************** Portfolio ***************/

#portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.innerPortfolioPicture {
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 50vh;
}

.hiddenPortfolioLinks {
    display: none;
}

#rihannaTributePicture {
    background-image: url("/img/rihanna1.png");
}

#animeflixPicture {
    background-image: url("/img/animeflix.png");
}

#formularioPicture {
    background-image: url("/img/formulario1.png");
}

#huddlePicture {
    background-image: url("/img/huddle.png");
}

/*************** Contato ***************/
#socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************** CONFIGURAÇÕES TELAS PEQUENAS ********************/